@{
    ViewBag.Title = "FAQ";
}

<div class="row">
    <div class="col-md-7">
        <h2>Popular Questions</h2>
        <ol>
            <li><a href="#">How do I pay for an order?</a></li>
            <li><a href="#">How does AliExpress protect my payments?</a></li>
            <li><a href="#">How do I cancel an order?</a></li>
            <li><a href="#">How do I track my order?</a></li>
            <li><a href="#">How do I make a refund request?</a></li>
            <li><a href="#">Why did my payment fail? </a></li>
            <li><a href="#">When will I receive my refund?</a></li>
            <li><a href="#">I am not satisfied with the product received. What can I do?</a></li>
            <li><a href="#">I can't track my order using the tracking number provided. What can I do?</a></li>

            <li><a href="#">How to check my order status?</a></li>
            <li><a href="#">Coupon rules</a></li>
            <li><a href="#">How do I cancel my membership?</a>	</li>

            <li><a href="#">Is it safe to pay suppliers offline?</a></li>
            <li><a href="#">How do I combine orders for shipping?</a></li>

            <li><a href="#">Can I sell on AliExpress?</a></li>

            <li><a href="#">How are shipping costs calculated?</a></li>
            <li><a href="#">Some suppliers offer Free Shipping on AliExpress and some don't. Why?</a></li>
            <li><a href="#">What can I do if the supplier rejects or does not respond to my Refund Request?</a></li>

            <li><a href="#">How do I revise the feedback I left for a supplier?</a></li>

            <li><a href="#">Can I see product prices in my local currency?</a></li>
            <br>
            <br>
        </ol>
    </div>
</div>
