@model IEnumerable<SkodaShop.Data.Models.Part>
@{
    ViewBag.Title = "Car Part Shop";
}

<div class="row list-group col-md-7">
    @foreach (var part in Model)
    {
        string url = (part.PictureUrl == null) ? "no_image.png" : part.PictureUrl;
        string source = "../Content/img/" + url;

        <div class="media list-group-item">
            <a class="media-left" href="#">
                <img src=@source width="100" height="100" class="img-thumbnail" />
            </a>
            <button class="btn btn-default">BUY</button>
            <div class="media-body col-md-5">
                <h2 class="media-heading">@part.Name</h2>
                <h3>@part.Description</h3>
                <h3>@part.Price</h3>
            </div>
        </div>          
    }

    <nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>